{{ $is_start := (hasPrefix .Path "quickstart/") }}
{{ $is_apis := (hasPrefix .Path "reference/pkg/") }}
{{ $is_docs := (and (not $is_apis) (hasPrefix .Path "reference/")) }}
{{ $is_tour := (hasPrefix .Path "tour/") }}

{{ $menu := .Site.Menus.main }}
{{ $menuName := "main" }}

{{ if $is_start }}
    {{ $menu = .Site.Menus.foo }}
{{ else if $is_tour }}
    {{ $menu = .Site.Menus.tour }}
    {{ $menuName = "tour" }}
{{ else }}
    {{ $menu = .Site.Menus.bar }}
{{ end }}

{{ $len := 0 }}
{{ if $menu }}
    {{ $len = (len $menu) }}
{{ end }}

<!-- TODO implement expansion and selection. -->
{{ $sidenav_expanded := true }}
{{ $sidenav_selected := "" }}

<div class="toc">
    {{ $currentPage := . }}
    {{ range $index, $element := $menu }}
        {{ $isLast := eq (add $index 1) $len }}

        {{ $toggle_state := "toggleVisible" }}
        {{ if $sidenav_expanded }}
            {{ $toggle_state = "toggleVisible" }}
        {{ else }}
            {{ $toggle_state = "toggle" }}
        {{ end }}

        <div class="sidenav-section toggleVisible {{ if (not $isLast) }}separator{{ end }}">
            <div class="{{ $toggle_state }}" data-title="{{ .Name }}">
                <div class="collapsed">
                    <div class="sidenav-topic {{ $sidenav_selected }}">
                        <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                        {{ if .HasChildren }}
                            <span class="toggleButton">▹</span>
                        {{ end }}
                    </div>
                </div>
                <div class="expanded">
                    <div class="sidenav-topic {{ $sidenav_selected }}">
                        <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                        {{ if .HasChildren }}
                            <span class="toggleButton">▾</span>
                        {{ end }}
                    </div>
                    {{ if .HasChildren }}
                        <div class="sidenav-subsection">
                            {{ template "tocsub" . }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>

{{ define "tocsub" }}
    <!-- TODO implement these -->
    {{ $sidenav_expanded := true }}
    {{ $sidenav_selected := "" }}

    {{ range .Children }}
        {{ if .HasChildren }}
            <div data-title="{{ .Name }}">
                <div class="sidenav-topic {{ $sidenav_expanded }}">
                    <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                </div>
                <div class="sidenav-subsection">
                    {{ template "tocsub" . }}
                </div>
            </div>
        {{ else }}
            <div class="sidenav-topic {{ $sidenav_expanded }}">
                <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
            </div>
        {{ end }}
    {{ end }}
{{ end }}


{{/*
<!--
{{ if .HasChildren }}
    <li class="{{ if $currentPage.HasMenuCurrent "tour" . }}active{{ end }}">
        <a href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
        </a>
    </li>
    <ul class="sub-menu">
        {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent "tour" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
{{ else }}
    <li>
        <a href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
        </a>
    </li>
{{ end }}
-->
*/}}
