
{{ $menu := .Site.Menus.main }}
{{ if hasPrefix .RelPermalink "/quickstart/" }}
    {{ $menu = .Site.Menus.quickstart }}
{{ else if hasPrefix .RelPermalink "/reference/"}}
    {{ $menu = .Site.Menus.reference }}
{{ else if hasPrefix .RelPermalink "/tour/" }}
    {{ $menu = .Site.Menus.tour }}
{{ else if hasPrefix .RelPermalink "/aws/" }}
    {{ $menu = .Site.Menus.aws }}
{{ end }}

{{ if $menu }}
<div class="toc">
    {{ $currentPage := . }}
    {{ $len := (len $menu) }}
    {{ range $index, $element := $menu }}
        {{ $isLast := eq (add $index 1) $len }}

        {{ $sidenav_expanded := false }}
        {{ $sidenav_selected := "" }}

        {{ if eq $currentPage.RelPermalink .URL }}
            {{ $sidenav_expanded = true }}
            {{ $sidenav_selected = "sidenav-selected" }}
        {{ else if hasPrefix $currentPage.RelPermalink .URL }}
            {{ $sidenav_expanded = true }}
        {{ end }}

        {{ $toggle_state := "toggleVisible" }}
        {{ if $sidenav_expanded }}
            {{ $toggle_state = "toggleVisible" }}
        {{ else }}
            {{ $toggle_state = "toggle" }}
        {{ end }}

        <div class="sidenav-section toggleVisible {{ if (not $isLast) }}separator{{ end }}">
            <div class="{{ $toggle_state }}" data-title="{{ .Name }}">
                <div class="collapsed">
                    <div class="sidenav-topic {{ $sidenav_selected }}">
                        <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                        {{ if .HasChildren }}
                            <span class="toggleButton">▹</span>
                        {{ end }}
                    </div>
                </div>
                <div class="expanded">
                    <div class="sidenav-topic {{ $sidenav_selected }}">
                        <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                        {{ if .HasChildren }}
                            <span class="toggleButton">▾</span>
                        {{ end }}
                    </div>
                    {{ if .HasChildren }}
                        <div class="sidenav-subsection">
                            {{ template "tocsub" (dict "page" $currentPage "menu" . ) }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
</div>
{{ end }}

{{ define "tocsub" }}
    {{ $page := .page }}

    {{ range .menu.Children }}
        {{ $sidenav_selected := "" }}
        {{ if eq $page.RelPermalink .URL }}
            {{ $sidenav_selected = "sidenav-selected" }}
        {{ end }}

        {{ if .HasChildren }}
            <div data-title="{{ .Name }}">
                <div class="sidenav-topic {{ $sidenav_selected }}">
                    <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
                </div>
                <div class="sidenav-subsection">
                    {{ template "tocsub" (dict "page" $page "menu" . ) }}
                </div>
            </div>
        {{ else }}
            <div class="sidenav-topic {{ $sidenav_selected }}">
                <a data-title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
